@import-normalize;
@import "helper";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,*:after{
  box-sizing: border-box;
}

:focus{
  outline: none;
}

ol,ul{
  list-style: none;
}

button,input{
  font: inherit;
}

body{
  font-size: $hei;
  line-height: 1.2;
  background:#F5F4F9 ;
}